.homenav {
    background-color: #f4ecec;
    position: relative;
  }
  .homenav button {
    font-size: 0.8rem;
  }
  .btncolor {
    background: #8d4040;
  }
  .imgtext {
    color: #838383;
  }
  .inputbox {
    border: 1px solid #8d4040;
    background-color: white;
    outline: 0;
    color: black;
  }
  .box1 {
    width: 300px;
    left: 0;
    border: 1px solid #8d4040;
  }
  .box1 p,
  .box1 button {
    font-size: 0.8rem;
  }
  .textarea {
    height: 160px;
    outline: none;
    border: 1px solid #8d4040;
    background-color: white;
    color: black;
  }
  .box2 {
    border: 1px dashed #8d4040;
  }
  .overshow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background: rgba(255, 255, 255, 0.8);
  }
  
  .box1:hover .overshow {
    opacity: 1;
  }
  .removebtn{background-color: rgba(255, 255, 255, 0.8);
    position: absolute ;
    left: 24%;
    border: 0;
  }
  .searchbtn{    position: absolute;
    top: 76%;
    left: 10%;
  ;}
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    margin-left: 400px;
    top: 80;
    width: 50%; /* Full width */
    height: 50%; /* Full height */
    right: 50;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .content {
    background-color: #f4ecec;
    border:1px solid #8d4040;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  
   }
   .content p{
    text-align: center;
    text-decoration: solid;
    color:#8d4040;
   }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }