.homenav {
  background-color: #f4ecec;
  position: relative;
}
.text1,
.text1 span {
  color: #838383;
}
.imgbox {
  background: #8d4040;
}
.Mtext2 {
  color: #8d4040;
}
.mbox1 {
  background: #eeeeee;
}

.overshow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10.5%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: rgba(0, 0, 0, 0.7);
}

.homenav:hover .overshow {
  opacity: 1;
}

.checks {
  accent-color: #fff;
}
.check{
  background-color:transparent;
  border: black;
  height: 18px;
  width: 18px;
}
.removebtn{background-color:transparent;
  border: 0;
 
}